$menu-bg-color: #050038;
$menu-ft-color: #fff;
$avatar-size: 150px;

body {
  display: flex;
  font-family: 'Lato', sans-serif;
  flex-direction: row;
  font-size: 18px;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

  .menu {
    // background-color: $menu-bg-color;
    background-image: url(/assets/images/wave-m.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $menu-ft-color;
    flex: 1;
    margin: 0;
    padding: 30px;

    .avatar {
      background-image: url(/assets/images/avatar.jpg);
      filter: grayscale(100%);
      background-repeat: no-repeat;
      background-size: cover;
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 50%;
    }
  }

  .body {
    flex: 3;
    margin: 0;
    padding: 0;
    overflow: scroll;

    .info {
      height: 100%;
      padding: 50px 100px;
    }
  }
}
