---
layout: default
---

<div class="container">
    <div class="hero">
        <div>
            <span class="name">Esteban Oliveros</span>
            <h1 class="title">A collection of stories, </br> ideas & recommendations</h1>
        </div>
        <nav>
            {% for item in site.data.categories %}
                <a href="{{ item.link }}">{{ item.name }}</a>
            {% endfor %}
        </nav>
    </div>

    <div class="latest-posts">
        <nav>
            {% for post in site.posts %}
                <div style="display: inline-block; margin: 0 16px">
                    {%- include components/post_thumbnail.html.liquid title=post.title resume=post.resume thumbnail=post.imgHeader url=post.url -%}
                </div>
            {% endfor %}
       </nav>
    </div>

    <section class="quick-intro">
        <h5>Quick Intro</h5>
        <p>
            I'm Esteban Oliveros, this site is my personal archive of ideas, insights, and experiences—covering software development, architecture decisions,
            and personal learnings. Whether it's a deep dive into a new framework, a reflection on past projects, or recommendations on tools I love,
            I document it all here. My goal is to share knowledge, spark discussions, and keep a record of my journey in tech.
        </p>

        <div>
            <a style="color: #000000; text-decoration: underline" href="/career">Know more</a>
            {%- include components/avatar.html.liquid size="lg" -%}
        </div>
    </section>

    <section>
        <h3>Recommendations</h3>
        <p>
            I'm always on the lookout for tools, resources, and practices that can help me become a better developer. Here are some of my top recommendations:
        </p>
    </section>


    <section>
        <div>
            <h3>Latest Posts</h3>
            {%- include latest_post.html.liquid -%}
            <a href="/blog" class="btn">See All Posts</a>
        </div>
    </section>
</div>
