<html>
  <head>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">

    <link href="assets/styles/main.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="menu">
      <h1>Hello World</h1>

      <div class="avatar"></div>

    </div>
    <div class="body">

      <div class="info">
        <h1>Hi there!</h1>

        <p>
          My name is Esteban Oliveros. I'm a software engineer, from Venezuela, currently living in Buenos Aires, Argentina.
        </p>

        <p>
          Talking about myself makes me wonder "Who am I?" and trying to answer that is something like this. So, here goes my best attempt.

          As who I am as a person, I'm a Venezuelan man born in one of the worst dates of the year, December 24. I developed from early age an eager for learning, but also, a very sedentary routine. I love playing games, watch a lot of movies and read some books.
          
          I moved to Argentina in 2017. In that move of independence I found out that I like cooking. I also found love ❤️ It is a love based on giving and receiving as well as having and sharing. And the love that we give and have is shared and received. And through this having and giving and sharing and receiving, others too can share and love and have and receive.
                    
          About my career path, it all started in 2010. I was graduating from school and was unable to get to university. I was really sad and disappointed of myself.
          
          Then, a miracle call. The Simon Bolivar University offering me a vacant to study Computer Science. I said "Let's do it". In 2016 I was graduating from one of the best universities in my country, and I found a career that I love.
          
          My first job was an internship on an startup, where we were building a traffic measurement system. I had to implement some cools algorithms and build some minor web apps to show the functionalities.
          
          Later, I moved to what can be called my "actual" first job. I started as a Junior Full-Stack Developer, working with Ruby on Rails and AngularJs for a startup. I had to catchup with a lot. First time working with FE frameworks, a big team, agile practices, building a REST API, . . .
          
          Thankfully, I had the luck to find a great mentor that taught me how to fish instead of giving me easy answers. Every day I worked hard, using good practices and understanding every part of the application we were building. I found my trademark: problem solving. The ability to solve a complicated puzzle, or to be smart enough to solve it elegantly is what makes me the developer than I am. Then, I became a Tech Lead.
          
          As a Tech Lead I became more involve in the decision making of the product and the creation of the team culture. I started working on my soft-skills and being a great leader, or even a mentor in some cases.
          
          After a couple of years, I moved to Argentina. I kept working remotely for some time, but I needed a change. I started in what is my current job as a Senior Software Developer working with Ruby. I'm working as part of the team of engineering on Everfi and also, leading the Backend Team of the external consultant.          
        </p>        

      </div>
    </div>
  </body>
</html>
