<header class="menu w-100 d-flex position-relative">
  <ul class="d-flex flex-fill align-items-center py-5 px-0 m-0">
    {% for item in site.data.menu %}
      {% if item.link == page.dir %}
        <li class="mr-5"><a class="active" href="{{ item.link }}">{{ item.name }}</a></li>
      {% else %}
        <li class="mr-5"><a href="{{ item.link }}">{{ item.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <ul class="social py-5 px-5 m-0 d-none d-md-flex">
    <li class="mr-3"><i class="lni lni-linkedin-original"></i></li>
    <li class="mr-3"><i class="lni lni-twitter-original"></i></li>
    <li class="mr-3"><i class="lni lni-instagram-filled"></i></li>
  </ul>
</header>