<header class="menu w-100 d-flex px-4 position-relative">
  <ul class="d-flex pt-5 px-2 px-md-5 m-0">
    <li class="mr-5"><a href="/">Home</a></li>
    <li class="mr-5"><a href="/career">Career</a></li>
    <li class="mr-5"><a href="/tech">Tech Stack</a></li>
    <li class="mr-5"><a href="/blog">Blog</a></li>
    <li class="mr-5"><a href="/wiki">Wiki</a></li>
    <li class="mr-5"><a href="/cheat_sheets">Cheat Sheets</a></li>
  </ul>
  <ul class="social pt-5 px-5 m-0 d-none d-md-flex text-primary">
    <li class="mr-4"><i class="lni lni-linkedin-original"></i></li>
    <li class="mr-4"><i class="lni lni-twitter-original"></i></li>
    <li class="mr-4"><i class="lni lni-instagram-filled"></i></li>
  </ul>
</header>