body {
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 15px; }

#intro {
  background-image: url("../images/caracas.jpg");
  background-color: #151516; }

#cover {
  height: 100%;
  max-width: 50%;
  box-sizing: border-box; }
  #cover .name {
    margin-bottom: 0px;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 5px;
    font-size: 2em; }
  #cover .last-name {
    margin-top: 0px;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 5.5em;
    line-height: 0.8em;
    letter-spacing: 5px; }
  #cover .subtitle {
    color: #c0392b;
    display: block;
    font-size: 1.5em;
    font-weight: 300; }
  #cover .bio {
    text-align: justify;
    font-weight: 100;
    color: white; }

#social-media {
  padding: 0px !important;
  transition: 1s; }
  #social-media a:hover {
    color: #c0392b; }
  #social-media a:not(:last-child) {
    margin-right: 10px; }

#info {
  display: none; }
