body {
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  /* -webkit-filter: blur(1px);
     -moz-filter: blur(1px);
     -o-filter: blur(1px);
     -ms-filter: blur(1px);
     filter: blur(1px); */ }

#intro {
  background-image: url("../images/caracas.jpg");
  background-color: #151516;
  transition: 1s;
  position: relative;
  left: 0;
  z-index: 10; }
  #intro.left {
    left: -75%; }

#cover {
  height: 100%;
  max-width: 50%;
  box-sizing: border-box; }
  #cover .name {
    margin-bottom: 0px;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 5px;
    font-size: 2em; }
  #cover .last-name {
    margin-top: 0px;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 5.5em;
    line-height: 0.8em;
    letter-spacing: 5px; }
  #cover .subtitle {
    color: #c0392b;
    display: block;
    font-size: 1.5em;
    font-weight: 300; }
  #cover .bio {
    text-align: justify;
    font-weight: 100;
    color: white; }
    #cover .bio button {
      color: #c0392b; }
      #cover .bio button::before {
        border-color: #c0392b; }

.social-media {
  padding: 0px !important;
  transition: 1s; }
  .social-media a:hover {
    color: #c0392b; }
  .social-media a:not(:last-child) {
    margin-right: 10px; }

#info-menu {
  height: 100%;
  max-width: 25%;
  width: 25%;
  box-sizing: border-box;
  opacity: 1; }
  #info-menu #profile-pic {
    background-image: url("../images/profile-pic.jpg");
    background-color: #000;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #ACACAC; }
  #info-menu .profile-border {
    border: 5px solid black;
    border-radius: 50%; }
    #info-menu .profile-border > .profile-border {
      border-color: #272727; }
  #info-menu #menu {
    width: 100%; }
    #info-menu #menu .uk-nav-header {
      color: #c0392b; }

#info {
  z-index: 8;
  overflow: auto;
  max-height: 100%;
  width: 75%;
  box-sizing: border-box;
  left: 25%; }
  #info .uk-heading-line {
    font-family: 'Roboto Mono', monospace;
    color: #03030B; }
    #info .uk-heading-line > ::after, #info .uk-heading-line > ::before {
      border-bottom: 3px solid rgba(3, 3, 11, 0.5); }
  #info .subtitle > a {
    font-family: 'Roboto Mono', monospace;
    display: block;
    margin-left: -25px;
    text-decoration: none;
    color: #03030B; }
    #info .subtitle > a::before {
      content: "#";
      width: 25px;
      float: left;
      color: #03030B; }

.info-box .title {
  margin: 0px; }

.info-box .subtitle {
  margin: 0px;
  color: #666;
  font-size: 12px; }

.info-box .media-title {
  height: 40px; }

.info-box hr {
  margin-top: 5px;
  border-color: #c0392b; }

.info-box p {
  max-height: 200px; }

.courses .uk-badge {
  font-size: 10px; }

.uk-card.company {
  margin-top: -40px;
  margin-bottom: -40px; }

.tech {
  padding: 20px;
  height: 100px; }
  .tech:hover > img {
    filter: none; }
  .tech > img {
    max-height: 100%;
    transition: 0.5s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }

.uk-section {
  margin-left: -70px;
  margin-right: -70px; }

.uk-card span[uk-icon] {
  color: #c0392b; }

.uk-card .uk-card-title {
  margin-top: 10px;
  font-size: 1.2rem; }

.company h5 {
  padding-bottom: 10px;
  border-bottom: 1px solid #c0392b; }

#tc-logo {
  background-color: #136083;
  text-align: center; }
  #tc-logo img {
    height: 30px; }

#addo-logo {
  background-color: #000;
  text-align: center; }
  #addo-logo img {
    height: 40px; }

#latch-logo {
  background-color: #ede2e2;
  text-align: center; }
  #latch-logo img {
    height: 30px; }

#intraffic-logo {
  background-color: #d4dbe0;
  text-align: center; }
  #intraffic-logo img {
    height: 40px; }

.uk-tab .uk-active > a {
  border-color: #c0392b; }
