<html ng-app="esteoliverApp">
  <head>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700" rel="stylesheet">

    <!--build:css assets/styles/components.min.css -->
    <link rel="stylesheet" href="assets/styles/uikit.min.css" />
    <!-- endbuild -->

    <!--build:css assets/styles/main.min.css -->
    <link href="assets/styles/main.css" rel="stylesheet"/>
    <!-- endbuild -->
  </head>
  <body ng-controller="MainCtrl" class="uk-flex uk-background-blend-multiply uk-background-cover" style="background-image: url('assets/images/{{ bgImage }}.jpg');">

    <!-- PROFESSIONAL INFORMATION -->
    <div id="professional-info" class="uk-flex-1 ng-hide" ng-hide="!showProfessional">
      <div id="diagonal" class="left"></div>
    </div>

    <div id="intro" class="uk-flex-1">

      <div id="cover" class="uk-padding-large uk-light" ng-class="{'left': showPersonal, 'right': showProfessional}">

        <!-- LOGO -->
        <div class="logo uk-margin-medium-bottom" ng-class="{'left': showPersonal, 'right': showProfessional}">
          <div class="title">
            <span class="name">Esteban</span>
            <span class="lastname">Oliveros</span>
          </div>
        </div>

        <!-- SUBTITLE -->
        <div ng-class="{'left': showPersonal, 'right': showProfessional}">
          <h5 ng-hide="showPersonal">Full-Stack Web Developer</h5>
          <h5>|</h5>
          <h5 ng-hide="showProfessional">Also known as EsteBandido</h5>
        </div>

        <hr/>

        <!-- SOCIAL MEDIA -->
        <div id="social-media" class="uk-margin-large-bottom" ng-class="{'left': showPersonal, 'right': showProfessional}">
          <a  href="https://github.com/esteoliver" uk-icon="icon: github-alt"></a>
          <a href="" uk-icon="icon: google"></a>
          <a href="https://twitter.com/EsteOliver?lang=es" uk-icon="icon: twitter"></a>
          <a href="https://www.linkedin.com/in/esteoliver/" uk-icon="icon: linkedin"></a>
          <a href="https://www.instagram.com/" uk-icon="icon: instagram"></a>
          <a href="https://esteoliver.wordpress.com/" uk-icon="icon: wordpress"></a>
        </div>

        <div id="sections" ng-class="{'left': showPersonal, 'right': showProfessional}">
          <button class="uk-button" ng-click="toggleProfessional()">
            <span uk-icon="icon: chevron-left"></span>
            Professional
          </button>
          <button class="uk-button" ng-click="togglePersonal()">
            Personal
            <span uk-icon="icon: chevron-right"></span>
          </button>
        </div>

      </div>
    </div>


    <!-- PERSONAL INFORMATION -->
    <div id="personal-info" class="uk-flex-1 ng-hide" ng-hide="!showPersonal">
      <div id="diagonal" class="right"></div>
    </div>

    <!--build:js assets/scripts/components.min.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="assets/scripts/uikit.min.js"></script>
    <script src="assets/scripts/uikit-icons.min.js"></script>
    <!-- endbuild -->

    <!--build:js assets/scripts/main.min.js -->
    <script src="assets/scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
