<h3 class="subtitle"><a href="#projects" uk-scroll>Projects</a></h3>

<!-- https://getuikit.com/docs/switcher -->

<!-- <a href="http://www.travelcontact.com/"></a> -->
<!-- <a href="http://www.addo.com/"></a> -->
<!-- <a href="http://www.latchaccess.com/"></a> -->
<!-- <a href="http://intraffic.com.ve/"></a> -->

<div class="uk-section uk-section-muted">
  <div class="uk-container">
    <div class="uk-grid" uk-grid>

      <ul class="uk-list uk-width-1-3@m" uk-switcher="animation: uk-animation-slide-top-medium, uk-animation-slide-bottom-medium">
        <li><button class="uk-button uk-button-text">Travel Contact</button></li>
        <li><button class="uk-button uk-button-text">Addo</button></li>
        <li><button class="uk-button uk-button-text">Latch</button></li>
        <li><button class="uk-button uk-button-text">InTraffic</button></li>
      </ul>

      <div class="uk-switcher uk-width-expand@m">
        <!-- TRAVEL CONTACT -->
        <div class="uk-card uk-card-default uk-flex-1 company">
          <div class="uk-card-media-top uk-padding" id="tc-logo">
            <img src="assets/images/tc.png" alt="">
          </div>
          <div class="uk-card-body uk-child-width-1-2@s" uk-grid>
            <div>Travel Contact</div>
            <div>
              <h5>What I did</h5>
            </div>
          </div>
        </div>

        <!-- ADDO -->
        <div class="uk-card uk-card-default uk-flex-1 company">
          <div class="uk-card-media-top uk-padding" id="addo-logo">
            <img src="assets/images/addo.png" alt="">
          </div>
          <div class="uk-card-body uk-child-width-1-2@s" uk-grid>
            <div>Addo</div>
            <div>
              <h5>What I did</h5>
            </div>
          </div>
        </div>

        <!-- LATCH -->
        <div class="uk-card uk-card-default uk-flex-1 company">
          <div class="uk-card-media-top uk-padding" id="latch-logo">
            <img src="assets/images/latch.svg" alt="">
          </div>
          <div class="uk-card-body uk-child-width-1-2@s" uk-grid>
            <div>Latch</div>
            <div>
              <h5>What I did</h5>
            </div>
          </div>
        </div>

        <!-- INTRAFFIC -->
        <div class="uk-card uk-card-default uk-flex-1 company">
          <div class="uk-card-media-top uk-padding" id="intraffic-logo">
            <img src="assets/images/intraffic.png" alt="">
          </div>
          <div class="uk-card-body uk-child-width-1-2@s" uk-grid>
            <div>InTraffic</div>
            <div>
              <h5>What I did</h5>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
