$btn-bg-color: #3F53D9;

// POSITIONING ----------------------

.position-relative {
  position: relative;
}

// TEXT -----------------------------

h1.big {
  font-size: 3.5rem;
}


// BUTTON ---------------------------

.btn {
  display: inline-block;
  background: $btn-bg-color;
  border-radius: 25px;
  color: #fff;
  padding: 15px 30px;
}

a.btn {
  text-decoration: none;
}