:root {
  // Light Mode (default)
  --background-color: #ffffff;
  --text-color: #212529;
  --secondary-text-color: #495057;
  --border-color: #dee2e6;
  --muted-color: #adb5bd;
  --primary-button-bg: #343a40;
  --primary-button-text: #ffffff;
  --hover-primary-button-bg: #424242;
  --hover-primary-button-text: #f8f9fa;
}

// Dark Mode: Override values
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #212529;
    --text-color: #ffffff;
    --secondary-text-color: #e9ecef;
    --border-color: #495057;
    --muted-color: #6c757d;
    --primary-button-bg: #f8f9fa;
    --primary-button-text: #212529;
    --hover-primary-button-bg: #adb5bd;
    --hover-primary-button-text: #212529;
  }
}
