$white-100: #fff;
$white-200: #f5f5f5;
$white-300: #c0c0c0;

$black-200: #909090;
$black-300: #222222;
$black-400: #191919;

$orange-300: #F26B50;

$green-300: #64F0BB;

@mixin dark-background {
  background: $black-300;
  color: $black-200;
}