html {
  width: 100vw;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;

  .menu {
    ul {
      list-style: none;
    }

    .social {
      position: absolute;
      right: 10%;
    }
  }
}

$avatar-size: 250px;
.avatar {
  position: absolute;
  right: 10%;
  top: 100px;
  background-image: url(/assets/img/avatar.jpg);
  filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
}

// BLOBS ----------------------------
.blob {
  position: absolute;
  z-index: -1;
  // animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
  overflow: visible;
}

.blob-1 {
  top: 0;
  left: 0;
  fill: #0693E3;
}

.blob-2 {
  top: 0;
  left: 0;
  fill: #3F53D9; //#f6d365;
}

.blob-3 {
  top: 0;
  left: 0;
  fill: #FF80AA;
}