header.navbar {
  margin-bottom: 2rem;

  nav {
    box-sizing: border-box;
    margin: 4rem auto 0;
    text-align: left;
    width: 85%;

    a.avatar {
      display: none;
    }

    a:not(.avatar) {
      margin: 0 1.5rem 0 0;
    }

    /* Larger than tablet */
    @media (min-width: 750px) {
      & {
        text-align: center;
        width: 100%;
      }

      a.avatar {
        display: inline-block;
      }
    }

    a.avatar {
      position: absolute;
      left: 4rem;
      top: 3rem;
    }

    a:not(.avatar) {
      display: inline-block;
      // margin: 0 1.5rem;
      transition: 0.1s;
      text-decoration: none;
      line-height: 3rem;
      color: var(--text-color);

      &.active {
        border-bottom: 1px solid #000000;
        color: var(--text-color);
      }
    }
  }
}
