header.navbar {
  margin-bottom: 2rem;

  nav {
    margin-top: 4rem;

    a.avatar {
      position: absolute;
      left: 4rem;
      top: 3rem;
    }

    a:not(.avatar) {
      display: inline-block;
      margin: 0 1.5rem;
      transition: 0.1s;
      text-decoration: none;
      color: #000000;
      line-height: 3rem;

      &.active {
        border-bottom: 1px solid #000000;
      }
    }
  }
}
