<a href="{{ include.url }}" class="post-thumbnail" style="background-image: url({{ include.thumbnail }})">
    <h3 class="post-thumbnail-title">{{ include.title }}</h3>
    <p class="post-thumbnail-resume">{{ include.resume }}</p>
</a>
