a.avatar {
  background: url("/assets/img/new_avatar.jpeg");
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);

  &.lg {
    width: 9rem;
    height: 9rem;
  }
}
