.post-thumbnail {
  box-sizing: border-box;
  padding: 2rem;
  width: 300px;
  height: 500px;
  background-size: cover;
  background-position: bottom center;
  border-radius: 2rem;
  position: relative;
  text-decoration: none;
  filter: grayscale(100%);
  transition: .3s;

  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 80%);
    border-radius: 2rem;
    z-index: 1;
    transition: background 1s;
  }

  @media (min-width: 1000px) {
    width: 600px;
    height: 350px;
    border-radius: 4rem;
    padding: 3rem;
    justify-content: flex-end; // Align content to the bottom
    background-position: center;

    &::before {
      border-radius: 4rem;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0) 80%);
    }
  }

  /* Larger than Desktop HD */
  @media (min-width: 1200px) {
    width: 800px;
    height: 500px;
    padding: 5rem;
  }

  &:hover {
    filter: grayscale(0%);
  }

  .post-thumbnail-title,
  .post-thumbnail-resume {
    position: relative;
    z-index: 2;
    color: #ffffff;
  }

  .post-thumbnail-title {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; // Ensure it behaves properly inside the container
    max-width: 100%; // Ensure it does not exceed the container width
    font-size: 3rem;

    @media (min-width: 1200px) {
      font-size: 3.6rem;
    }

    @media (min-width: 1200px) {
      white-space: nowrap;
    }
  }

  .post-thumbnail-resume {
    white-space: wrap;
    display: -webkit-box;
    -webkit-line-clamp: 2; // Allow up to 2 lines
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: calc(2 * 1.5em); // Adjust based on line height
    line-height: 1.5em; // Ensure consistent spacing
    margin: 0;
  }
}
