---
layout: page
---

<div class="page-header dark-background">
  <div class="w-50 mx-auto">
    <h1 class="page-title mt-0 mb-4">Always learning something</h1>

    <p>
      I'm constantly learning some new concept of tech, and to reflect that, I
      created this little space where I can go back to in case I need to refresh
      something, or even to take note of what I learn, on my own stye.
    </p>    
  </div>
</div>

<div class="page-wrapper">
  <div class="page-body">
    {{ content }}
  </div>
</div>
