body {
  display: flex;
  font-family: 'Lato', sans-serif;
  flex-direction: row;
  font-size: 18px;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  body .menu {
    background-image: url(/assets/images/wave-m.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    flex: 1;
    margin: 0;
    padding: 30px; }
    body .menu .avatar {
      background-image: url(/assets/images/avatar.jpg);
      filter: grayscale(100%);
      background-repeat: no-repeat;
      background-size: cover;
      width: 150px;
      height: 150px;
      border-radius: 50%; }
  body .body {
    flex: 3;
    margin: 0;
    padding: 0;
    overflow: scroll; }
    body .body .info {
      height: 100%;
      padding: 50px 100px; }
